@import 'https://fonts.googleapis.com/css?family=Prompt|Roboto+Mono:300,400';

.draggable-bar {
    -webkit-app-region: drag;
    position: fixed;
    top: 0;
    left: 0;
    height: 64px;
    width: 100%;
    //background: #E8E8E8;
    .buttons {
        -webkit-app-region: no-drag;
        position: fixed;
        right: 12px;
        top: 12px;
        .button {
            padding: 12px 0;
            img {
                width: 32px;
                height: 32px;
                cursor: pointer;
                -webkit-filter: brightness(2);
                &:hover {
                    -webkit-filter: brightness(0.5);
                }
            }
        }
    }

    .top-menu {
        padding: 12px;
        .menu-option {
            -webkit-app-region: no-drag;
            color: white;
            text-transform: uppercase;
            font-size: 20px;

            &:hover {
                color: #555555;
            }
        }

        .menu-option + .menu-option:before {
            content: " | ";
        }
    }
}


html {
    background: #2f3640;
    font-family: "Prompt", sans-serif;
}

body {
    margin-top: 96px;
    height: 90%;
}

main {
    margin: 0 auto;
    width: 80%;
    height: 100%;

    article {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        #fake-textarea {
            width: 100%;
            max-width: 100%;
            overflow-y: scroll;
            height: 100%;
            outline: none;
            background: none;

            font-family: 'Roboto Mono', monospace;
            font-weight: 300;
            color: white;
            font-size: 18px;
        }
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(102, 106, 118, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(65, 67, 75, 0.8);
}